<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Friend &amp; Enter</title>
    
    {% include "partials/meta_tags.html" %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 id="door-status">THE DOORS APPEAR LOCKED</h1>
    
    <form id="mobile-form" action="#" method="post">
        <label for="test-input">Cast your spell:</label>
        <input type="text" id="mobile-input" name="test_input">
    </form>

    <button id="protected-link" style="display:none;">Enter the Mines</button>
    
    <h2 id="hint-field" class="runes">
        friend - enter
    </h2>
    
    <div id="key-display"><span id="pressed-key" class="runes"></span></div>
    
    <div id="error-message" class="error-message" style="display:none;"></div>
    
    {% include "partials/footer.html" %}
    <script src="/static/js/script.js"></script>
</body>
</html>
