<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Type Friend &amp; Enter</title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mines.lightningcloud.dev/">
    <meta property="og:title" content="Mines of Chaumia">
    <meta property="og:description" content="The Mines of Chaumia are Open & filled with Treasures">
    <meta property="og:image" content="https://mines.lightningcloud.dev/static/img/gandalf-at-door.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://mines.lightningcloud.dev/">
    <meta name="twitter:title" content="Mines of Chaumia">
    <meta name="twitter:description" content="The Mines of Chaumia are Open & filled with Treasures">
    <meta name="twitter:image" content="https://mines.lightningcloud.dev/static/img/gandalf-at-door.jpg">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 id="door-status">THE DOORS APPEAR LOCKED</h1>
    
    <button id="protected-link" style="display:none;">Enter the Mines</button>
    
    <h2 class="runes">
        friend - enter
    </h2>
    
    <div id="key-display"><span id="pressed-key" class="runes"></span></div>

    <form id="mobile-form" action="#" method="post">
        <label for="test-input">Cast your spell:</label>
        <input type="text" id="mobile-input" name="test_input">
    </form>
    
    <footer>
        <div class="footer-content">
            <div class="social-links">
                <a href="/about" target="_blank" aria-label="about the site">
                    <i class="fa-regular fa-circle-question"></i>
                </a>
                <a href="https://github.com/sutt/type-friend" target="_blank" aria-label="GitHub Repo">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>
